#products-overview {
  background: url("freedom.jpg");
  width: 100%;
  height: 528px;
  padding: 10px;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#products-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}

.plan__lists {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 8px;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #885588;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan__features li {
  margin: 8px 0;
}

#second-section {
  background: #ff1b68;
  text-align: center;
  padding: 8px 5px;
}

#second-section .section-title {
  color: white;
  margin: 32px;
}

.list-items {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-items li {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.list-description {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.list-image {
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  background: #ffcede;
  margin: auto;
}
