main {
  padding-top: 32px;
}

.background {
  background: url("../images//plans-background.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.packages {
  width: 80%;
  margin: 16px 0;
  border: 4px solid #014d01;
  border-left: none;
  position: relative;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 12px;
  color: white;
  background: #ff5454;
  padding: 8px;
}

.packages:hover,
.packages:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
}

.packages a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 32px;
}

.package__subtitle {
  color: #979797;
}

.package__description {
  color: #0e4f1f;
  background: white;
  border: 1px solid #0e4f1f;
  padding: 16px;
  font-size: 20px;
}

.clearfix {
  clear: both;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
}

#free {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  border-left: 4px solid #014d01;
  border-right: none;
}

#free:hover,
#free:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
}

#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}