<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div>
    <h1>User List</h1>
    <% if(users.length > 0) { %>
      <ul>
        <% for(let user of users) { %>
          <li><%= user.name %></li>
        <% } %>
      </ul>
    <% } else { %>
      <h2>No User Found!</h2>
    <% } %>
  </div>
</body>
</html>